[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "pandas>=2.3.3",
    "plotly>=6.4.0",
    "streamlit>=1.51.0",
    "yfinance>=0.2.66",
]
